<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>TTNT</title>

    <!-- Bootstrap Core CSS -->
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="../css/style.css" rel="stylesheet">
    <link href="css/prettyPhoto.css" rel="stylesheet"> 
    <link href="css/main.css" rel="stylesheet">
    <link href="css/animate.css" rel="stylesheet">

    <script src="js/wow.min.js"></script>
         <script>
              new WOW().init();
              </script>

    <!-- Custom CSS -->
    <style>
        body {
            padding-top: 0px;
            /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
        }
    </style>

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="banner">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">TTNT</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="" href="/users/login">Đăng nhập</a>
                    </li>
                    <li>
                        <a class="" href="/users/signup">Đăng kí</a>
                    </li>

                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
    <!-- Page Content -->
    <header>
        <div class="container">
            <div class="intro-text">
                <div class="wow bounceInDown">TTNT</div>
                <div class="wow bounceInUp">Kênh chia sẻ kiến thức dành cho sinh viên</div>
                <a href="/users/signup" class="btn btn-default slider-btn animated fadeIn">Join with us</a>
            </div>
        </div>
    </header>
    <section id="portfolio" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Các chủ đề công nghệ mới nhất</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <div class="view efffect">
                              <div class="portfolio-image">
                                  <img src="img/portfolio/roundicons.png" alt="">
                              </div> 
                              <div class="mask text-center">
                                  <h2>Round Icons</h2>
                                  <h3>Graphic Design</h3>
                                  <a href="#"><i class="fa fa-link"></i></a>
                                  <a href="img/portfolio/roundicons.png" data-gallery="prettyPhoto"><i class="fa fa-search-plus"></i></a>
                              </div>
                        </div>
                    </a>
                    <div class="portfolio-caption">
                        <h4>Round Icons</h4>
                        <p class="text-muted">Graphic Design</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal2" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <div class="view efffect">
                              <div class="portfolio-image">
                                  <img src="img/portfolio/startup-framework.png" alt="">
                              </div> 
                              <div class="mask text-center">
                                  <h2>Startup Framework</h2>
                                  <h3>Website Design</h3>
                                  <a href="#"><i class="fa fa-link"></i></a>
                                  <a href="img/portfolio/startup-framework.png" data-gallery="prettyPhoto"><i class="fa fa-search-plus"></i></a>
                              </div>
                        </div>
                    <div class="portfolio-caption">
                        <h4>Startup Framework</h4>
                        <p class="text-muted">Website Design</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal3" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <div class="view efffect">
                              <div class="portfolio-image">
                                  <img src="img/portfolio/treehouse.png" alt="">
                              </div> 
                              <div class="mask text-center">
                                  <h2>Treehouse</h2>
                                  <h3>Website Design</h3>
                                  <a href="#"><i class="fa fa-link"></i></a>
                                  <a href="img/portfolio/treehouse.png" data-gallery="prettyPhoto"><i class="fa fa-search-plus"></i></a>
                              </div>
                        </div>
                    </a>
                    <div class="portfolio-caption">
                        <h4>Treehouse</h4>
                        <p class="text-muted">Website Design</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal4" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <div class="view efffect">
                              <div class="portfolio-image">
                                  <img src="img/portfolio/golden.png" alt="">
                              </div> 
                              <div class="mask text-center">
                                  <h2>Golden</h2>
                                  <h3>Website Design</h3>
                                  <a href="#"><i class="fa fa-link"></i></a>
                                  <a href="img/portfolio/golden.png" data-gallery="prettyPhoto"><i class="fa fa-search-plus"></i></a>
                              </div>
                        </div>
                    </a>
                    <div class="portfolio-caption">
                        <h4>Golden</h4>
                        <p class="text-muted">Website Design</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal5" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <div class="view efffect">
                              <div class="portfolio-image">
                                  <img src="img/portfolio/escape.png" alt="">
                              </div> 
                              <div class="mask text-center">
                                  <h2>Escape</h2>
                                  <h3>Website Design</h3>
                                  <a href="#"><i class="fa fa-link"></i></a>
                                  <a href="img/portfolio/escape.png" data-gallery="prettyPhoto"><i class="fa fa-search-plus"></i></a>
                              </div>
                        </div>
                    </a>
                    <div class="portfolio-caption">
                        <h4>Escape</h4>
                        <p class="text-muted">Website Design</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal6" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <div class="view efffect">
                              <div class="portfolio-image">
                                  <img src="img/portfolio/dreams.png" alt="">
                              </div> 
                              <div class="mask text-center">
                                  <h2>Dreams</h2>
                                  <h3>Website Design</h3>
                                  <a href="#"><i class="fa fa-link"></i></a>
                                  <a href="img/portfolio/dreams.png" data-gallery="prettyPhoto"><i class="fa fa-search-plus"></i></a>
                              </div>
                        </div>
                    </a>
                    <div class="portfolio-caption">
                        <h4>Dreams</h4>
                        <p class="text-muted">Website Design</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="team" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Our Amazing Team</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <div class="team-member">
                        <img src="img/team/thang.jpg" class="img-responsive img-circle" alt="">
                        <h4> Nguyễn Đức Thắng</h4>
                        <p class="text-muted">Fullstack Developer</p>
                        <ul class="list-inline social-buttons">
                            <li><a href="#"><i class="fa fa-google"></i></a>
                            </li>
                            <li><a href="https://www.facebook.com/ong.caothang.121"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li><a href="https://www.linkedin.com/in/thang-nguyen-283421118/"><i class="fa fa-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="team-member">
                        <img src="img/team/AQuach.jpg" class="img-responsive img-circle" alt="">
                        <h4>Quách Ngọc Toàn</h4>
                        <p class="text-muted">Fullstack Developer</p>
                        <ul class="list-inline social-buttons">
                            <li><a href="#"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li><a href="https://www.facebook.com/toanquach.bk" target="_blank"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="team-member">
                        <img src="img/team/AQuach.jpg" class="img-responsive img-circle" alt="">
                        <h4>Lê Thị Nga</h4>
                        <p class="text-muted">Fullstack Developer</p>
                        <ul class="list-inline social-buttons">
                            <li><a href="#"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li><a href="https://www.facebook.com/nga.lethi.9619934?fref=ts" target="_blank"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="team-member">
                        <img src="img/team/AQuach.jpg" class="img-responsive img-circle" alt="">
                        <h4>Nguyễn Anh Tuấn</h4>
                        <p class="text-muted">Fullstack Developer</p>
                        <ul class="list-inline social-buttons">
                            <li><a href="https://www.linkedin.com/in/nguy%E1%BB%85n-anh-tu%E1%BA%A5n-659590142/"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li><a href="https://www.facebook.com/anhtuan96a8" target="_blank"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li><a href="https://www.instagram.com/tuantetonnn/" target="_blank"><i class="fa fa-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                </div>
            </div>
        </div>
    </section>
    <hr>
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <span class="copyright">Copyright &copy; TTNT 2017</span>
                </div>
                <div class="col-md-6">
                    <ul class="list-inline social-buttons">
                        <li><a href="#"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li><a href="https://www.facebook.com/ong.caothang.121"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <!-- /.container -->

    <!-- jQuery Version 1.11.1 -->
    <script src="../js/jquery.js"></script>
    <script type="text/javascript" src="js/jquery.prettyPhoto.js"></script> 
    <script type="text/javascript" src="js/main.js"></script> 

    <!-- Bootstrap Core JavaScript -->
    <script src="../js/bootstrap.min.js"></script>

</body>

</html>